section#video{ 
    width: auto;
    background-color: var(--cor5);
    margin:7px -20px ;
    padding-bottom: 50%;   
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.363);
    position: relative;
}

section iframe{
    position: absolute;
    top:5%;
    left:5%;
    width: 90%;
    height: 90%;
}
